@import 'cdn.css';

/* null style */

*{
    padding: 0;
    margin: 0;
    border: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-size: inherit; font-weight: 400;
}

/* page settings / wrapper */

body{
}

.wrapper{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */

.header{
    background-color: #000000;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19.5px 0;
}

.header__logo{
}

.header__nav{
    width: 80%;
    display: flex;
    justify-content: right;
}

.header__nav-list{
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.header__list-item{

}

.header__item-text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

/* Download */

.download-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 2px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    width: 270px;
    height: 58px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
}

.download-button:hover{
    border: 2px solid #EC7979;
    color: #EC7979;
}

.download-button:active{
    background-color: #AB4949;
    border: 2px solid #AB4949;
    color: #FFFFFF;
}

.download-button--coral{
    border: 2px solid #EC7979;
    background-color: #EC7979;
}

.download-button--coral:hover{
    border: 2px solid #AB4949;
    background-color: #AB4949;
    color: #FFFFFF;
}

.download-button--coral:active{
    border: 2px solid #AB4949;
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.download-button--stylish{
    margin: 0 auto;
}

/* 1-st block of (almost) each section */

.section-start{
    padding-top: 50px;
}

.section-start--about{
    padding-bottom: 70px;
}

.section-start--pricing{
    padding-bottom: 60px;
}

.section-start--reviews{
    padding-bottom: 83px;
}

.section-start--stylish{
    padding-bottom: 73px;
}

.section-start--contacts{
    padding-bottom: 89px;
}

.section-start__title{
    height: 150px;
    width: 100%;
    padding: 54px 0;
    position: relative;
    margin-bottom: 40px;
}

.section-start__title:before{
    content: "";
    position: absolute;
    height: 0;
    width: 170px;
    border-top: 1px solid #EC7979;
    margin: 0 auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.section-start__title--light:before{
    border-top: 1px solid #FFFFFF;
}

.section-start__title-text{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

.section-start__title-text--light{
    color: #FFFFFF;
}

.section-start__textbox{
    height: auto;
    width: 100%;
}

.section-start__text{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.section-start__text--light{
    color: #FFFFFF;
}

/* 1-st section: banner with form to registrate */

.banner{
    margin: 0 auto;
    background-image: url("../img/BannerBackground_951.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 951px;
    width: 1510px;
    position: relative;
    z-index: 0;
}

.banner:after{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.banner__container{
    padding: 207px 0 0 0;
    display: flex;
    justify-content: space-between;
}

/* Description inside banner */

.banner__description{
    height: 559px;
    width: 670px;
}

.banner__logo{
    margin-bottom: 51px;
}

.banner__title{
    margin-bottom: 55px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.banner__card-wrap{
    height: 185px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.banner__line{
    height: 0;
    width: 170px;
    border: 1px solid #FFFFFF;
}

.banner__text{
    max-width: 270px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

/* Form inside banner */

.banner__form{
    background-color: #FFFFFF;
    height: 450px;
    width: 470px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.banner__card-title-wrap{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner__card-title-text{
    font-family: 'Open sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
}

.banner__card-title--red{
    color: #EC7979;
}

.banner__form-inputs{
    height: 180px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner__download{
    background-color: #EC7979;
    color: #FFFFFF;
    font-family: 'Open sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    height: 60px;
    cursor: pointer;
}

.banner__download:hover{
    background-color: #AB4949;
}

.banner__download:active{
    background-color: #EC7979;;
    box-shadow: inset 0px 0px 10px #AB4949;
}

/* 2-nd section: social info */

.social{
    background-color: #F8EFEF;
}

.social__container{
    display: flex;
    justify-content: space-between;
}

.social__text-wrapper{
    width: 40%;
}

.social__title{
    font-family: 'Open sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    padding: 18px 0;
}

.social__text{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    padding: 18px 0;
}

/* Social media icons */

.icon__list{
    width: 57%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon__list--footer{
    margin: 0 auto;
    width: 570px;
}

.icon__icon-wrap{
    width: 53.2px;
    height: 53.2px;
}

.icon__icon-link{
    width: 100%;
    height: 100%;
}

.icon__icon-svg{
    fill: #CCCCCC;
    transition: 0.3s;
}

.icon__icon-svg:hover{
    fill: #EC7979;
    transform: scale(1.2);
}


/* 3rd section: tabs */

.tabs{
    padding: 100px 0 0 0;
}

.tabs__button-wrap{
    display: flex;
}

.tabs__tab-button{
    width: 203px;
    height: 41px;
    background-color: #FFFFFF;
    border: 1px solid #C6CBCD;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    top: 1px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.tabs__tab-button:hover{
    cursor: pointer;
}

.tabs__tab-button--inactive{
    border: none;
    border-bottom: 1px solid #C6CBCD;
}

.tabs__container{
    padding: 0 0 0 100px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #C6CBCD;
}

.tabs__text-wrap{
    width: 570px;
    padding: 0 0 54px 0;
    display: flex;
    flex-direction: column;
}

.tabs__title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    margin: 41.5px 0;
}

.tabs__text-para{
    padding: 27px 0;
    flex-grow: 1;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.tabs__text{
    margin-bottom: 10px;
}

.tabs__img{
    display: inline;
    height: 100%;
}

/* 4th section: about information */

.about{
    padding-bottom: 58px;
    background-color: white;
}

/* 3-d block of section */
/* overall card options */

.about__cards-wrap{
    display: flex;
    justify-content: space-between;
}

.about__card{
    height: auto;
    width: 370px;
    display: inline-block;
}

.about__card:last-child{
    margin-right: 0;
}

/* card icons */

.about__icon-wrap{
    padding: 39px 139px;
    height: 170px;
    width: 170px;
}

.about__icon-circle{
    height: 92px;
    width: 92px;
    border: 1px solid #EC7979;
    border-radius: 50%;
}

.about__icon{
    display: block;
}

.about__img{
    display: block;
}

.about__img--lightbulb{
    margin: 5px auto;
}

.about__img--board{
    margin: 22px auto;
}

.about__img--lightning{
    margin: 12px auto;
}

/* card title */

.about__card-title-box{
    width: 100%;
    text-align: center;
    padding: 33px 0;
    margin-bottom: 8px;
}

.about__card-title-text{
    font-family: 'Open sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
}

/* description inside card */

.about__card-text-wrap{
    padding: 0 5px;
}

.about__card-text{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

/* 5th section: info about prices */

.pricing{
    background-color: #F5F5F5;
}

.pricing-wrap{
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.pricing-card{
    background-color: aqua;
    width: 370px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out 0.1s;
}

.pricing-card:hover{
    transform: translateY(-10px);
    /* margin-top: 0px;
    margin-bottom: 10px; */
    cursor: pointer;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.pricing-list__item{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 21px;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #86878B;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    padding: 15px 0;
}

.pricing-list__item--rate{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #fff;
    background: #333333;
}

.pricing-list__item--price{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    background: #333333;
}

.pricing-list__item--text{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    background: #333333;
}

/* 6th section: reviews */

.reviews{
}

.reviews__cards-wrap{
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
}

.reviews__card{
    width: 370px;
    position: relative;
}

.reviews__comment{
    background-color: #E2E2E2;
    border-radius: 10px;
    padding: 37px 20px;
    margin-bottom: 66px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #86878B;
    position: relative;
}

.reviews__comment:before{
    content: "";
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    position: absolute;
    bottom: -20px;
    left: 70px
}

.reviews__person-wrapper{
    display: flex;
}

.reviews__avatar-wrapper{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}

.reviews__avatar-img{
    height: 100%;
    width: 100%;
    display: block;
}

.reviews__name-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews__name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding: 10.5px 0;
    display: flex;
    color: #000000;
}

.reviews__position{
    font-family: 'Raleway';
    padding: 15px 0 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

/* 7th section: stylish */

.stylish{
    width: 1510px;
    max-height: 442px;
    margin: 0 auto;
    background-image: url("/img/CityBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-bottom: 50px;
    z-index: 0;
}

.stylish:after{
    content: "";
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: -1;
}

/* 8th section: contacts */

.contacts{

}

/* Footer */

.footer{
    padding-top: 40px;
    background-color: #000000;
}

.footer__list{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.footer__list-item{
    position: relative;
    margin: 0 20px;
}

.footer__anchor{
    display: flex;
    justify-content: center;
}

.fa-brands,
.fa-solid{
    color: #CCCCCC;
    font-size: 40px;
    transition: 0.3s;
}

.fa-brands:hover,
.fa-solid:hover{
    color: #AB4949;
    transform: scale(1.4);
}

.footer__text{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 27px 0;
}
